@model DataStructures.AVLTree<LAB2_ED2.Models.PeopleModel>
@{
    ViewData["Title"] = "PeopleList";
}
<html >
<body class="text-info">
    <h1 class="text-info"><font style="color:black">Base de datos Talent Hub</font></h1>

   
    @if (Model != null)
    {

        <table class="table">
            <font style="color:black">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>DPI</th>
                    <th>Fecha de nacimiento</th>
                    <th>Dirección</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.dpi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.datebirth)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.address)
                        </td>
                    </tr>
                }
            </tbody>
            </font>
        </table>
    }
    <p>
        <a asp-controller="PeopleM" asp-action="Index">Regresar a la paguina de administracion</a>
    </p>
</body>
</html>