@model LAB2_ED2.Models.PeopleModel
@{
    ViewData["Title"] = "ValidacionPeople";
}

<html class="text-info">
    <h1>Validacion</h1>
<body class="text-info">
    <h4>VALIDACION del empleado</h4>





    <div>
        <a asp-controller="PeopleM" asp-action="Index">Regresar a Inicio</a>
    </div>
</body>
</html class="text-info">