@{
    ViewData["Title"] = "Creditos";
}
<h1>@ViewData["Title"]</h1>

<p>Hecho por Hans Pierri Sempe Aquino </p>
<p>Estudainte de ingenieria en informatica y sistemas </p>
<p>carnet - 1083920 </p>
<p>Universidad Rafael Landivar </p>
