@{
    ViewData["Title"] = "Home Page";
}
<body>
    <center>

        <h1 class="display-4 text-info"><picture style="font-weight:bold;"><font style="color:black"> "Busquedas complejas de Talent Hub"</font> </picture></h1>

    <p> </p>
        <label class="text-info">
            <font size="7" style="color:darkgreen">
                Con este programa el usuario es capaz de llevar busquedas de datos
                de manera mas eficiente
            </font>
        </label>
    <p></p>
        <lable class="text-info">
            <font size="7" style="color:darkgreen">
                Para iniciar el programa oprima "Comenzar administracion de datos", si desea volver a este menu, oprima "Pantalla de Inicio"
            </font>
        </lable>

    </center>
</body>

